<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <style>
        .is-loading {background-color: #7fcdf7;}
    </style>
</head>
<body>
<div id="root" class="container">

    <tabs>
        <tab name="Home" :selected="true">
            Home content goes here
        </tab>
        <tab name="Services">
            Services content goes here
        </tab>
        <tab name="About Us">
            About content goes here
        </tab>
    </tabs>

    <modal v-if="showLogIn" @close="showLogIn = false">
        <template slot="header">My Title</template>
        <template slot="footer">
            <button class="button is-success">Save changes</button>
            <button class="button">Cancel</button>
        </template>
    </modal>

    <button @click="showLogIn = true">Show Modal</button>
    <h1>
        {{reversedMessage}}
    </h1>
    <input id="input" type="text" id="input" v-model="message" @keyUp="addName">
    <button @click="addName">Add To List</button>
    <button :title="title">Hover over me</button>
    <button :class="{'is-loading': isLoading }" @click="toggleClass">Click Me</button>
    <p>The of the input is: {{ message }}</p>
    <li v-for="name in names">{{name}}</li>
    <hr />
    <h1>All Tasks</h1>
    <li v-for="task in tasks" v-text="task.description"></li>
    <hr />
    <h1>Completed Tasks</h1>
    <li v-for="task in completeTasks" v-text="task.description"></li>
    <hr />
    <h1>Inomplete Tasks</h1>
    <li v-for="task in incompleteTasks" v-text="task.description"></li>
    <hr />
    <h1>Slots</h1>
    <task-list></task-list>
    <hr />

    <message title="Hello Wolrd" body="Lorem ipsum dolar sit amet."></message>
    <message title="Hello Universe" body="Info"></message>

    <!--<h1>Message Componenet</h1>-->
    <!--<article class="message">-->
        <!--<div class="message-header">-->
            <!--<p>Hello World</p>-->
            <!--<button class="delete" aria-label="delete"></button>-->
        <!--</div>-->
        <!--<div class="message-body">-->
            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.-->
        <!--</div>-->
    <!--</article>-->

    <coupon @applied="onCouponApplied"></coupon>

    <h1 v-if="couponApplied">You used a coupon</h1>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

<script src="main.js"></script>

</body>
</html>